<div class="cart-partial">
  <ul class="media-list">
    <% cart.items.each do |i| %>
      <% case i[:type] %>
      <% when 'product' %>
        <li class="media">
          <div class="pull-left">
            <div class="cover" style="background-image: url(<%= "\"#{background_image_url i[:product].cover}\"" %>)">
            </div>
          </div>
          <div class="media-body">
            <p class="media-heading"><%= i[:product].name -%></p>
            <p><%= to_sg_dollar i[:product].price -%></p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<footer>
  <% if cart.size > 0 %>
    <%= t 'cart.show.total_price_is' %><%= to_sg_dollar cart.total_price %>
    <%= link_to (t 'cart.show.checkout'), main_app.cart_path, class: 'btn btn-primary btn-sm btn-block' %>
  <% else %>
    <%= t 'cart.show.cart_is_empty' %>
  <% end %> 
</footer>
