- comment_token = SecureRandom.hex(10)
- product = comment.product
.comments-show
  - if (defined? show_product_cover) and show_product_cover
    %aside.product-cover
      %a{style: "background-image: url(#{background_image_url product.cover})", href: product_path(product)}

  .content
    %header.author
      = User.model_name.human
      = comment.user.name
      = t 'common.time.created_at'
      = t 'common.time.ago', time: ( time_ago_in_words (Time.now - comment.updated_at).seconds.from_now )
      
    %p
      = comment.comment

    %ul.images.list-unstyled.list-inline
      - comment.images.each_with_index do |image, index|
        %li
          %a.image{style: "background-image: url(#{background_image_url image.url})", data: {toggle: 'modal', target: "#comment-#{comment_token}-image-#{index}"}}

          .comment-image.modal.fade{id: "comment-#{comment_token}-image-#{index}", tabindex: '-1'}
            .modal-dialog.modal-lg
              .modal-content
                = image_tag image.url

    %footer.detail
      .element.like
        %i.fa.fa-fw.fa-heart
        10
      .element.share
        %a
          %i.fa.fa-fw.fa-share-alt
        .links
          / TODO currently share product instead of comment
          = link_to product_share_url(product, 'googleplus'), target: '_blank', onclick: popup_script do
            %i.fa.fa-fw.fa-google-plus
          = link_to product_share_url(product, 'facebook'), target: '_blank', onclick: popup_script do
            %i.fa.fa-fw.fa-facebook
