%footer.main
  .logo
    = image_tag 'logo.png'
  .links
    %ul
      %li
        %h3
          %i.fa.fa-fw.fa-angle-down
          = t 'pages.about_us'
      -['about_us', 'contact_us'].each do |p|
        %li
          =link_to page_path(p) do
            %i.fa.fa-fw.fa-angle-right
            = t("pages.#{p}")
    %ul
      %li
        %h3
          %i.fa.fa-fw.fa-angle-down
          = t 'pages.follow_us'
      %li
        = link_to 'TODO' do
          %i.fa.fa-fw.fa-twitter
          Twitter
      %li
        = link_to 'TODO' do
          %i.fa.fa-fw.fa-facebook
          Facebook
      %li
        = link_to 'TODO' do
          %i.fa.fa-fw.fa-google-plus
          Google+
    %ul
      %li
        %h3
          %i.fa.fa-fw.fa-angle-down
          = t 'pages.help_center'
      %li
        = link_to page_path('help_center') do
          %i.fa.fa-fw.fa-question
          = t 'pages.help_center'

  %hr
    %p Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.
    %br
    %p Copyright Ation.sg 2014

= render 'shared/scripts'