/ TODO, what if cart empty
.container.orders.new
  = form_for @order, url: {action: "create"}, html: {role: 'form'} do |f|
    %ul.cbp_tmtimeline
      %li
        .cbp_tmtime
          %span= t 'orders.new.step_1'
          %span= t 'orders.new.confirm_cart'
        .cbp_tmicon
          %i.fa.fa-shopping-cart
        .cbp_tmlabel
          = @cart[:items].each do |i|
            = i
      %li
        .cbp_tmtime
          %span= t 'orders.new.step_2'
          %span= t 'orders.new.confirm_sender_info'
        .cbp_tmicon
          %i.fa.fa-user
        .cbp_tmlabel
          %div.form-horizontal
            .form-group
              = f.label :buyer_name, class: 'control-label col-sm-2'
              .col-sm-10
                = f.text_field :buyer_name, class: 'form-control', value: current_user.name
            .form-group
              = f.label :buyer_phone, class: 'control-label col-sm-2'
              .col-sm-10
                = f.telephone_field :buyer_phone, class: 'form-control', value: current_user.phone
      %li
        .cbp_tmtime
          %span= t 'orders.new.step_3'
          %span= t 'orders.new.confirm_transport_info'
        .cbp_tmicon
          %i.fa.fa-truck
        .cbp_tmlabel
      %li
        .cbp_tmtime
          %span= t 'orders.new.step_4'
          %span= t 'orders.new.pay'
        .cbp_tmicon
          %i.fa.fa-dollar
        .cbp_tmlabel
          %div.form-horizontal
            .form-group
              .col-sm-offset-2.col-sm-10
                %p= 0 #TODO @cart[:total_price]
                = f.submit (t 'orders.new.submit_and_pay'), class: 'btn btn-primary'
