/ TODO, what if cart empty
.container.orders.new
  = form_for @order, url: {action: "create"}, html: {role: 'form'} do |f|
    %ul.cbp_tmtimeline
      %li
        .cbp_tmtime
          %span= t 'orders.new.step_1'
          %span= t 'orders.new.confirm_cart'
        .cbp_tmicon
          %i.fa.fa-shopping-cart
        .cbp_tmlabel
          = render partial: 'cards/cart_item', collection: @cart.items
          = t 'cart.show.total_price_is'
          = to_sg_dollar @cart.total_price
      %li
        .cbp_tmtime
          %span= t 'orders.new.step_2'
          %span= t 'orders.new.confirm_transport_info'
        .cbp_tmicon
          %i.fa.fa-truck
        .cbp_tmlabel
          = f.fields_for :transport do |transport|
            %div.form-horizontal
              .form-group
                = transport.label :recipient_name, class: 'control-label col-sm-2'
                .col-sm-10
                  = transport.text_field :recipient_name, class: 'form-control'
              .form-group
                = transport.label :recipient_phone, class: 'control-label col-sm-2'
                .col-sm-10
                  = transport.telephone_field :recipient_phone, class: 'form-control'
              .form-group
                = transport.label :recipient_address, class: 'control-label col-sm-2'
                .col-sm-10
                  = transport.telephone_field :recipient_address, class: 'form-control'
      %li
        .cbp_tmtime
          %span= t 'orders.new.step_3'
          %span= t 'orders.new.more_comments'
        .cbp_tmicon
          %i.fa.fa-comment-o
        .cbp_tmlabel
          %div.form-horizontal
            .form-group
              = f.label :customer_message, class: 'control-label col-sm-2'
              .col-sm-10
                = f.text_area :customer_message, class: 'form-control', rows: 5
      %li
        .cbp_tmtime
          %span= t 'orders.new.step_4'
          %span= t 'orders.new.pay'
        .cbp_tmicon
          %i.fa.fa-dollar
        .cbp_tmlabel
          %div.form-horizontal
            .form-group
              .col-sm-offset-2.col-sm-10
                %p= ( t 'cart.show.total_price_is' ) + ( to_sg_dollar @cart.total_price )
                = f.submit (t 'orders.new.submit_and_pay'), class: 'btn btn-primary'
