.container.orders.pay
  .page-header
    %h5= t 'orders.pay.confirm_order_info'
  = render partial: 'shared/cards/order', object: @order, locals: {collapse_in: true}
  %hr
  .choose-pay-method
    .page-header
      %h5= t 'orders.pay.select_pay_method'
    .row
      .col-md-3.by-paypal
        = link_to create_payment_path(order_id: @order, method: 'paypal'), class: 'btn btn-primary btn-block' do
          %i.fa.fa-fw.fa-pied-piper
          = t 'orders.pay.by_paypal'
      .col-md-3.by-card
        = link_to create_payment_path(order_id: @order, method: 'card'), class: 'btn btn-primary btn-block' do
          %i.fa.fa-fw.fa-credit-card
          = t 'orders.pay.by_card'
        %hr
        %p
          = t 'orders.pay.current_card_balance'
          = to_sg_dollar current_user.cards.first.balance
