.container.orders.pay
  .page-header
    %h5= t 'orders.pay.confirm_order_info'
  = render partial: 'shared/cards/order', object: @order, locals: {collapse_in: true}
  %hr
  .choose-pay-method
    .page-header
      %h5= t 'orders.pay.select_pay_method'
    %pre.well
      = link_to create_payment_path(order_id: @order, method: 'paypal') do
        = image_tag 'https://www.paypalobjects.com/webstatic/en_US/btn/btn_checkout_pp_142x27.png'