%a.product-card{href: main_app.product_path(product)}
  .product-card
    .ribbon-wrapper
      .ribbon NEW
    .card-image
      = image_tag product.cover
    .card-header
      = product.name
    .card-content
      = simple_format product.description.truncate(140) unless product.description.nil?
    .card-stats
      %ul.list-unstyled.list-inline
        %li.price
          = to_sg_dollar product.price
        %li.likes
          = product.get_likes.size
          %span
            %i.fa.fa-heart
        %li.comments
          = product.comments.size
          %span
            %i.fa.fa-comments-o

