- order_token = SecureRandom.hex(10)
.order-card.panel.panel-default
  .panel-heading
    .panel-title
      %a{"data-parent" => ".order-cards", "data-toggle" => "collapse", href: "#order-card-#{order_token}"}
        %i.fa.fa-caret-square-o-down
          = to_sg_dollar order.cart[:total_price]
          ,
          = t 'common.time.created_at'
          = t 'common.time.ago', time: ( time_ago_in_words (Time.now - order.created_at).seconds.from_now )
  .panel-collapse.collapse{id: "order-card-#{order_token}", class: ('in' if collapse_in)}
    .panel-body
      %table.table.table-hover
        %tbody
          - order.cart[:items].each do |i|
            %tr
              - case i[:type]
              - when 'product'
                %td.cover
                  .cover{style: "background-image: url(#{background_image_url i[:product].cover})"}
                %td.name= i[:product].name
                %td.price= to_sg_dollar i[:price]
                %td.other
        %tfoot
          %tr
            %td
            %td
            %td.price= to_sg_dollar order.cart[:total_price]
            %td
      %footer
        %dl.dl-horizontal
          / TODO, customer message here
          %dt= t 'orders.card.transport_info'
          - if order.transport
            %dd= order.transport.recipient_address
            %dd= order.transport.recipient_name
            %dd= order.transport.recipient_phone
            %dd= order.transport.aasm.human_state
          %dt= t 'orders.card.transaction_info'
          - if order.payment
            %dd= order.payment.aasm.human_state
