.container.products.show
  .row
    .col-md-6
      .product-wrapper.img-slide.img-slide-wrapper
        .img-slide.img-primary-wrapper
          .img-slide.img-primary-second-wrapper
            .img-slide.img-primary{style: "background-image: url(#{background_image_url @product.cover})"}
        %nav.img-slide.imgs-nav
          - @product.images.each do |i|
            %li
              %a.img-slide.img-link{style: "background-image: url(#{background_image_url i.url})"}
        %nav.btns
          %li
            %a.product-add-to-cart{data: {product_id: @product.id}}
              %div
                %i.fa.fa-shopping-cart
          %li
            %a.product-like{class: ('liked' if (user_signed_in? and current_user.liked? @product)), data: {product_id: @product.id, like_path: main_app.product_like_path(product_id: @product.id), unlike_path: main_app.product_unlike_path(product_id: @product.id)}}
              %div
                %i.fa.fa-heart-o
                %i.fa.fa-heart
          %li
            %a.product-share{data: {toggle: 'dropdown'}}
              %div
                %i.fa.fa-share-alt
            .product-share-dropdown.dropdown-menu
              .share-links
                = link_to product_share_url(@product, 'googleplus'), target: '_blank', onclick: popup_script do
                  %i.fa.fa-fw.fa-google-plus
                  Google Plus
                = link_to product_share_url(@product, 'facebook'), target: '_blank', onclick: popup_script do
                  %i.fa.fa-fw.fa-facebook
                  Facebook

    .col-md-6
      %pre.product-description
        = @product.description

  / comments
  .row
    .col-md-12
      .container.comments
        .row
          .col-md-6.left-all-comments
            .section-header
              %h5= t 'products.show.comments.all'
            .comments-list
              - @comments.each do |c|
                - if not c.new_record?
                  = render partial: 'comments/show', locals: {comment: c}
          .col-md-6.right-my-comments
            .section-header
              %h5= t 'products.show.comments.my'
            - if user_signed_in?
              - if @current_user_comments.empty?
                .nothing-to-show
                  = t 'products.show.comments.have_not_published_any'
              - else
                .comments-list
                  - @current_user_comments.each do |c|
                    = render partial: 'comments/show', locals: {comment: c}

              .new-comment
                .section-header
                  %h5= t 'products.show.comments.new'
                = render partial: 'comments/new'
            - else
              .nothing-to-show
                = t 'products.show.comments.have_not_signed_in'

